# mod_rewrite starts here
ErrorDocument 404 /404.html

RewriteEngine on

# does not apply to existing directories, if folder exists, don't change anything or run rule

RewriteCond %{REQUEST_FILENAME} !-d

# Check for file in directory w/ .html ext

RewriteCond %{REQUEST_FILENAME}\.html -f

# show the page that has .html

RewriteRule ^(.*)$ $1.html [NC,L]