#oops {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 63px;
  text-align: center;
  color: #3D405B;
}

#dne {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: #3D405B;
}