*{
  margin: 0;
  padding: 0;
}

#titleBanner {
  text-align: center;
  background-color: #81b29a;

  box-sizing: border-box;
  left: 0px;
  top: 0px;
  border: 1px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

#quote{
  font-family: "Source Sans Pro";
  text-align: center;
}

h3{
  font-size: 30px;
  color: #81b29a;
  margin-top: 60px;
}

.toBlogPage{
  color: #81b29a;
  font-size: 18px;
  text-decoration: none;
}

.toBlogPage:hover{
  color: #3d405b;
}

.mission{
  margin-left: 126px;
  margin-right: 200px;
  margin-top: 100px;
  display:flex;
}

.mission::after{
  content: "";
  clear: both;
  display: table;
}

#latestPostBtn{
  margin-left: 126px;
  position: absolute;
  width: 161px;
  height: 39px;
  left: 0px;
  top: 800px;
  background: #81B29A;
  border-color: #81B29A;
  border-radius: 5px;
  cursor: pointer;

  text-decoration: none;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #3D405B;
}

#clubPhoto{
  margin-left: 500px;
  width: 475px;
  height: 320px;
  
  background: #D9D9D9;
  border-radius: 5px;
}

h2{
  font-family: "Source Sans Pro";
  font-size: 30px;
  color: #3d405b;
}

p{
  font-family: "Ubuntu";
  font-size: 18px;
  color: #3d405b;
}

.sponsors{
  margin-left: 126px;
  margin-right: 200px;
}