body {
  margin-left: 30px;
  margin-right: 30px;
}

h1{
  font-family: "Source Sans Pro";
  font-size: 35px;
  color: #3d405b;
  line-height: 36px;
  margin-bottom: 0;
}

h3{
  font-family: "Ubuntu";
  font-size: 18px;
  color: #81b29a;
}

h5{
  font-family: "Ubuntu";
  font-size: 18px;
  color: #3d405b;
  margin-top: 0;
}

.blogTitle{
  font-family: "Source Sans Pro";
  color: #3d405b;
  text-decoration: none;
  font-size: 30px;
  line-height: 36px;
  margin-top: 0;
  margin-bottom: 0;
}

p{
  font-family: "Ubuntu";
  font-size: 18px;
  color: #81b29a;
}

.readMore{
  font-family: "Ubuntu";
  color: #3d405b;
  text-decoration: none;
  font-size: 18px;
}

a:hover{
  color: #81b29a;
}

.blogPost::after{
  content: "";
  clear: both;
  display: table;
}

.blogPost {
  display: block;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.imgBox {
  width:225px;
  height:225px;
}
.imgBox img{ 
  max-width: 98%;
}