body{
  margin-left: 30px;
  margin-right: 30px;
}

h1{
  font-family: "Source Sans Pro";
  font-size: 35px;
  text-align: center;
  color: #3d405b;
  line-height: 36px;
  margin-bottom: 0;
  margin-top: 0;
}

h3{
  font-family: "Ubuntu";
  font-size: 18px;
  text-align: center;
  color: #81b29a;
}

p{
  font-family: "Ubuntu";
  font-size: 18px;
  color: #3d405b;
}

.backToBlogPage{
  font-family: "Ubuntu";
  color: #3d405b;
  text-decoration: none;
  font-size: 18px;
  margin-top: 100px;
}

.backToBlogPage:hover{
  color: #81b29a;
}

.entry::after{
  content: "";
  clear: both;
  display: table;
}

.previousBlog{
  font-family: "Ubuntu";
  color: #3d405b;
  text-decoration: none;
  font-size: 18px;
}

.previousBlog:hover{
  color: #81b29a;
}

.nextBlog{
  font-family: "Ubuntu";
  color: #3d405b;
  text-decoration: none;
  font-size: 18px;
  float: right;
  margin-right: 40px;
}

.nextBlog:hover{
  color: #81b29a;
}

hr{
  border: 1px solid #3d405b;
  border-radius: 5px;
}

.entryNavigation::after{
  content: "";
  clear: both;
  display: table;
}

#topImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
